html, body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;

    overflow: hidden;
}

div.title {
    position: absolute;
    background: white;
    height: 10%;
    width: 100%;
    border: 2px solid black;
    font-size: 40px;
}

div.shape-panel {
    position: absolute;
    top: 10%;
    background: white;
    height: 90%;
    width: 15%;
    border: 2px solid red;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:85%;
}


button img {
    width: 100%;
}

#threejs-panel {
    position: absolute;
    background-color: blue;
    width: 85%;
    height: 90%;
    top: 10%;
    left: 15%;
}
